extends layout

block main-content
  //- let parkName = park.querySelector("LocationName").textContent;
  //- let addr = park.querySelector("Address").textContent;
  //- let pcode = park.querySelector("PostalCode").textContent;
  //-h1 #{parkName}
  //-p #{addr}
  //-p #{pcode}